<!-- Page Content -->
<div class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <div class="blog-post">
            <h2 class="blog-post-title font-italic border-bottom"><%=article.title%></h2>
            <p class="blog-post-meta"><%=article.postDate%> by <%=author%></p>
            <img class="img-fluid rounded" src="<%=article.image%>">
            <p style="text-align: justify;"><%=article.body%></p>
            <% if(locals.user) { %>
              <%  if(locals.user.id==article.author) { %>
                       <a class="btn btn-default" href='/articles/edit/<%=article._id%>'> Edit</a>
                       <a class="btn btn-danger delete-article" href='/blog' data-id='<%=article._id%>'> Delete </a>
               <% } %>
            <% } %>
          </div><!-- /.blog-post -->
      </div>
    </div>
</div>